* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eecf79;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.tic-tac-toe {
  width: 350px;
  margin: 20px auto;
  background-color: #eeb879;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  margin-top: 20px;
}

.intro p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
